/* colors */
  /* pink:#DB3977
    black:#1F2732
    blue:#216699
    turqoise:#00BEA3
    offwhite:#FEFDF6 */

/* new filter postioning */
#filter {
  /* background: #FEFDF6; */
  /* background: #FFFEF8; */
  background: #216699;
  width: 15%;
  /* width: 100%; */
  max-width: 300px;
  display: inline-block;
  float: left;
}
.filter-options-1 {
  width: 25%;
  float: left;
}
.filter-city-type {
float: left;
width: 45%;
}
.filter-bed-bath {
  width: 45%;
  float: right;
}
.price-ft-filters {
  width: 50%;
  float: left;
}
.filter-price {
  width: 30%;
  float: left;
  margin-left: 180px;
}
.filter-square-feet {
  width: 30%;
  float: left;
}
.inside {
  padding: 20px;
  height: 200px;
}
h1 {
  margin-bottom: 25px;
  text-transform: uppercase;
  color:white;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;

}
select {
  /* background: transparent; */
  padding: 10px;
  font-size: 13px;
  font-weight: 300;
  display: block;
  margin-bottom: 25px;
  width: 100%;
}
select:focus {
  outline: none;
}
.title {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  color: white;
}
input:focus {
  outline: none;
}
input[type="text"] {
  width: 60%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}
input[placeholder] {
  font-style: italic;
}
#bottom-filters label{
  display: block;
  font-weight: 300;
  font-size: 13px;
  color: white;
  width: 100%;
  padding: 15px 0;
}
#bottom-filters input[type="checkbox"] {
  float: right;
  font-size: 13px;
}
.extras-wrapper {
  margin-top: -10px;
}
