/* colors */
  /* pink:#DB3977
    black:#1F2732
    blue:#216699
    turqoise:#00BEA3
    offwhite:#FEFDF6 */
/* top filter */

#filter {
  width: 10%;
}
.inside {
  padding: 20px;
}
.inside i {
  float: right;
  position: absolute;
  right: 10px;
  top: 10%;
}
.container {
  margin: 0 10px 0 10px;
}
h1 {
  margin-bottom: 125px;
  text-transform: uppercase;
  color:white;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}
select {
  font-weight: 300;
  padding: 3px 0px 3px 10px;
  margin-bottom: 0;
  width: 100%;
  border: 0;
  background: transparent;
  font-size: 16px;
  outline:none;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  text-align: center;
}
select:hover {
  cursor: pointer;
  background: #216699;
  color:white;
  transition: .2s ease-in-out;
}
select:focus {
  outline: none;
}
.title {
  font-weight: 500;
  font-size: 14px;
  color: white;
}
input:focus {
  outline: none;
}
input[type="text"] {
  width: 6%;
  margin-right: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}
input[placeholder] {
  font-style: italic;
}

/* @media screen and (min-width:2560px) {
  .main {
    height: 100%;
  }
  #filter {
    width: 15%;
    height: 100%;
    max-width: 300px;
    display: inline-block;
    float: left;
    position: fixed;
    margin-top: 77px;
  }
  .inside {
    height: 100%;
    padding: 20px;
    background: #216699;
  }
  h1 {
    margin-bottom: 25px;
    text-transform: uppercase;
    color:white;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
  }
  select {
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    display: block;
    margin-bottom: 14px;
    width: 100%;
  }
  select:focus {
    outline: none;
  }
  .title {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    color: white;
  }
  input:focus {
    outline: none;
  }
  input[type="text"] {
    width: 48%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
  }
  input[placeholder] {
    font-style: italic;
  }
  #bottom-filters {

  }
  #bottom-filters .extras-title {
    display: block;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 14px;
    color: white;
  }
  #bottom-filters label{
    display: block;
    font-weight: 300;
    font-size: 13px;
    color: white;
    width: 100%;
    padding: 17px 0;
  }
  #bottom-filters input[type="checkbox"] {
    float: right;
    font-size: 13px;
  }
} */
